body {
    color: #f8f8f2;
    background-color: #272822;
}
a {
    color: #74dd74;
    text-shadow: 0 0 5px rgba(93, 210, 82, 0.5);
    -webkit-text-shadow: 0 0 5px rgba(93, 210, 82, 0.5);
    -moz-text-shadow: 0 0 5px rgba(93, 210, 82, 0.5);
    -ie-text-shadow: 0 0 5px rgba(93, 210, 82, 0.5);
}
.header a:active, .section a:active, .footer a:active {
    /*for IE*/
    background-color: #272822;
}
.header {
    box-shadow: 0 1px 10px #000;
    -webkit-box-shadow: 0 1px 10px #000;
    -moz-box-shadow: 0 1px 10px #000;
    -ie-box-shadow: 0 1px 10px #000;
}
.post-date {
    color: #66d9ef;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
    -webkit-text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
    -moz-text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
    -ie-text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
.read-more {
    color: #74dd74;
    box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    -ie-box-shadow: 0px 0px 3px #000;
}
.read-more:active {
    background-color: inherit;
    color: #74dd74;
    box-shadow: inset 0px 0px 6px 0px #000;
    -webkit-box-shadow: inset 0px 0px 6px 0px #000;
    -moz-box-shadow: inset 0px 0px 6px 0px #000;
    -ie-box-shadow: inset 0px 0px 6px 0px #000;
    text-shadow: 0 0 5px rgb(93, 210, 82);
    -webkit-text-shadow: 0 0 5px rgb(93, 210, 82);
    -moz-text-shadow: 0 0 5px rgb(93, 210, 82);
    -ie-text-shadow: 0 0 5px rgb(93, 210, 82);
}
.article-list .article {
    border-bottom-color: #74dd74;
    box-shadow: inset 0 -6px 8px -8px #000;
    -webkit-box-shadow: inset 0 -6px 8px -8px #000;
    -moz-box-shadow: inset 0 -6px 8px -8px #000;
    -ie-box-shadow: inset 0 -6px 8px -8px #000;
}
.article-date {
    color: rgba(0, 0, 0, .5);
}
#next-page:hover, #prev-page:hover, .article-title a:hover, .category-item a:hover {
    text-shadow: 0 0 5px rgb(93, 210, 82);
    -webkit-text-shadow: 0 0 5px rgb(93, 210, 82);
    -moz-text-shadow: 0 0 5px rgb(93, 210, 82);
    -ie-text-shadow: 0 0 5px rgb(93, 210, 82);
}
pre {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .3);
}