html, body, ul, li, h1, h2, h3 {
    margin: 0;
    border: 0;
    padding: 0;
}
html {
    font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
ul {
    list-style-position: inside;
}
.section {
    margin: 0 auto;
    max-width: 950px;
    padding: 0 15px;
}
.header {
    padding: 20px 0;
    box-shadow: none;
}
.header .blog-name {
    text-align: center;
}
.header #blog-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.4em;
    display: block;
}
.header #about {
    font-weight: normal;
    font-size: 50px;
    font-family: 'Parisienne', cursive;
}
.header #about:hover {
    text-shadow: 0 0 10px #fff;
}
@media (max-width: 600px) {
    .header .blog-name {
        font-size: 1.5em;
    }
}
@media (max-width: 400px) {
    .header .blog-name {
        font-size: 1em;
    }
}
.header .blog-name a {
    color: inherit;
    text-decoration: none;
}
.section .article-list {
    list-style: none;
    margin-top: 50px;
}
.section .article-list .article {
    max-width: inherit;
    margin: 0 auto 45px;
    padding: 0 20px;
    word-break: break-word;
    /*text-align: justify;*/
    font-size: 18px;
    line-height: 1.5em;
}
.section .article-list .article:after {
    display: block;
    content:"";
    clear: both;
}
.section .article-list .article .article-date-container {
    float: right;
    margin-top: 50px;
}
.section .article-list .article .article-date-container .article-date-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    position: relative;
    top: 2px;
}
.section .article-list .article .article-date-container .article-date-icon:before {
    display: block;
    content:"";
    width: 2px;
    background: #272822;
    height: 5px;
    left: 7px;
    position: absolute;
    top: 2px;
}
.section .article-list .article .article-date-container .article-date-icon:after {
    display: block;
    content:"";
    width: 7px;
    background: #272822;
    height: 2px;
    left: 8px;
    top: 6px;
    position: absolute;
    transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ie-transform-origin: left;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg) -ie-transform: rotate(45deg)
}
.section .article-list .article .article-date-container .article-date {
    margin-left: 3px;
}
.section .article-list .article .article-date-container .article-date, .section .article-list .article .read-more {
    font-family: Tahoma, Geneva, sans-serif
}
.section .article-list .article .article-title {
    margin-bottom: 45px;
    font-size: 2em;
    word-break: break-all;
}
.section .article-list .article .article-title a {
    text-decoration: none;
}
.section .article-list .article .read-more {
    display: inline-block;
    margin: 45px 0;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1em;
}
.section .pagination {
    margin: 45px auto;
    text-align: center;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
.section .pagination:after {
    content:"";
    display: block;
    clear: both;
}
.section .pagination a {
    font-size: 2em;
    text-decoration: none;
}
.section .pagination #prev-page {
    float: left;
}
.section .pagination #next-page {
    float: right;
}
/***********************Browser Update***************************/
#update-container {
    position: absolute;
    height: 300px;
    margin-top: -150px;
    top: 50%;
    border: 1px solid #000;
    text-align: center;
}
#update-warning {
    font-size: 2.4em;
}
#update-browser {
    font-size: 1.5em;
}