---
layout: index_layout
title: Nolan's Fresh Stuffs 
---

<header class="header">
	<h1 class="blog-name">Nolan's Fresh Stuffs</h1>
</header>
<section class="section">
	<ul class="article-list">
		{% for post in paginator.posts %}
			<li class="article">
				<h3 class="article-title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h3>
				<article>{{post.content}}</article>
			</li>
		{% endfor %}
	</ul>
	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a id="prev-page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;&lt;&lt;&lt;</a>
			{% endif %}
			{% if paginator.next_page %}
				<a id="next-page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&gt;&gt;&gt;&gt;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
<aside>
	<nav>
		<ul>
			{% for post in site.posts %}
				<li>
					<a href="{{ post.url }}">{{ post.title }}</a>
					{{ post.excerpt | strip_html }} <!-- how to remove all tags?! -->
				</li>
			{% endfor %}
		</ul>
	</nav>
</aside>
<footer>
	<!-- About Me -->
	<p class="copyright"></p>
</footer>

