---
layout: index_layout
title: Nolan's Fresh Stuffs 
---

<header class="header">
	<h1 class="blog-name">Nolan的新玩意儿</h1>
</header>
<section>
	<ul>
		{% for post in paginator.posts %}
			<li class="article">
				<h3 id="{{post.href}}">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h3>
				<article>{{post.content}}</article>
			</li>
		{% endfor %}
	</ul>
	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a id="prev-page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			{% endif %}
			{% if paginator.next_page %}
				<a id="next-page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
<aside>
	<nav>
		<ul>
			<li>
				<a href="{{ site.baseurl }}">HOME</a>
			</li>
			{% for post in site.posts %}
				<li>
					<a href="{{ post.url }}">{{ post.title }}</a>
					{{ post.excerpt }} <!-- how to remove all tags?! -->
				</li>
			{% endfor %}
		</ul>
	</nav>
</aside>
<footer>
	<p class="copyright"></p>
</footer>

