---
layout: index_layout
title: Nolan's Fresh Stuffs
---
<section class="section">
    <ul class="article-list">
        {% for post in paginator.posts %}
            <li class="article">
                <h3 class="article-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>
                <article class="post">{{post.excerpt}}</article>
                <div class="article-date-container">
                    <span class="article-date-icon"></span>
                    <span class="article-date">{{ post.date | date: "%B %d, %Y" }}</span>
                </div>
                <a class="read-more" href="{{ post.url }}">Read more...</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a id="prev-page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;&lt;&lt;&lt;</a>
            {% endif %}
            {% if paginator.next_page %}
                <a id="next-page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&gt;&gt;&gt;&gt;</a>
            {% endif %}
        </div>
    {% endif %}
</section>

