<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Nolan | {{page.title}}</title>
		<link rel="stylesheet" href="{{site.baseurl}}css/article.css">
		<link rel="stylesheet" href="{{site.baseurl}}css/dark_knight.css">
	</head>
	<body>
		<header class="header">
			<nav>
				<a id="back-home" class="header-button" href="{{site.baseurl}}"></a>				
				{% if {{page.previous}} %}
					<a id="previous-post" class="header-button" href="{{ page.previous.url }}"></a>
				{% endif %}
				{% if {{page.next}} %}
					<a id="next-post" class="header-button" href="{{ page.next.url }}"></a>
				{% endif %}
				{% if {{page.isCate}} %}
					<a id="category-button" class="header-button" href="javascript:void(0);"></a>
				{% endif %}			
			</nav>
		</header>
		{% if {{page.isCate}} %}
			<aside class="article-nav-container">
				<h2>Table of Contents</h2>
				<nav class="article-nav">
					<ul>
						{% for item in page.table %}
							{% assign words = item | split: '$' %}
							<li class="category-item">
								<a href="#{{ words.first }}">{{ words.last }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</aside>
			<aside class="article-nav-popup">
				<ul>
					{% for item in page.table %}
						{% assign words = item | split: '$' %}
						<li>
							<a class="popup-category-item" href="#{{ words.first }}">{{ words.last }}</a>
						</li>
					{% endfor %}
				</ul>
			</aside>
		{% endif %}
		<section class="article-container">
			<h1 class="title">{{page.title}}</h1>
			{% if {{page.isCate}} %}
				<article class="article">
			{% else %}
				<article class="article no-category">
			{% endif %}
				<div class="article-date-container">
					<span class="article-date-icon"></span>
					<span class="article-date">{{ page.date | date: "%B %d, %Y" }}</span>
				</div>
				<div class="content">
					{{content}}
				</div>
			</article>
		</section>
		<script type="text/javascript" src="{{site.baseurl}}js/category.js"></script>
	</body>
</html>