<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{page.title}}</title>
        <link rel="shortcut icon" href="/image/head.jpg">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/dark_knight.css">
        <link rel="stylesheet" href="/css/highlight.css">
        <!-- <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'> -->
        <script data-ad-client="ca-pub-3526913071571838" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <header class="header">
            <h1 class="blog-name"><a id="blog-title" href="/">{ Fresh Stuffs }</a><a id="about" href="http://about.me/nolan_li" target="_blank">@Nolan</a></h1>
        </header>
        {{content}}
        <script src="/js/update-browser.js"></script>
    </body>
</html>